<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Sidebar -->
<nav th:fragment="siderBar" class="w3-sidebar w3-black w3-animate-top w3-xxlarge" style="display:none;padding-top:150px" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-black w3-xxlarge w3-padding w3-display-topright" style="padding:6px 24px">
        <i class="fa fa-remove"></i>
    </a>
    <div class="w3-bar-block w3-center">
        <a href="#" class="w3-bar-item w3-button w3-text-grey w3-hover-black">About</a>
        <a href="#" class="w3-bar-item w3-button w3-text-grey w3-hover-black">Photos</a>
        <a href="#" class="w3-bar-item w3-button w3-text-grey w3-hover-black">Shop</a>
        <a href="#" class="w3-bar-item w3-button w3-text-grey w3-hover-black">Contact</a>
    </div>
</nav>

</html>



