.container {
    max-width:1500px ;
    position: relative;
    justify-content: center;
    justify-items: center;
    margin: auto;
    display: grid;
    grid-gap: 5%;
    grid-template-columns: repeat(auto-fit, minmax(320px, 400px));
    grid-template-rows: repeat(auto-fit, minmax(320px, 400px));
    padding: 10% 5% 0 5%;
}

.notes {
    z-index: 1;
    width: 320px;
    height: 320px;
}

.rotate5 {
    transform: rotate(5deg);
}

.rotate15 {
    transform: rotate(15deg);

}

.rotate20 {
    transform: rotate(-20deg);

}

.postit {
    line-height: 1.2;
    width: 100%;
    height: 100%;
    position:relative;
    border:1px solid #E8E8E8;
    border-bottom-right-radius: 60px 5px;
    display:inline-block;
    background: #ffff88; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(81%,#ffff88), color-stop(82%,#ffff88), color-stop(82%,#ffff88), color-stop(100%,#ffffc6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* IE10+ */
    background: linear-gradient(135deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffffc6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.postit:after {
    content: "";
    position:absolute;
    z-index:-1;
    right:-0px; bottom:20px;
    width:200px;
    height: 25px;
    background: rgba(0, 0, 0, 0.2);
    box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
    -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    transform: matrix(-1, -0.1, 0, 1, 0, 0);
}

.postitText {
    margin: 15%;
    text-align:center;
    font-family: 'Varela Round', sans-serif;
    font-size:22px;
}