<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/js/member.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<head th:replace="fragments/header :: header">
</head>

<body>
<div th:replace="fragments/siderBar :: siderBar"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

    <!-- Header -->
    <div class="w3-opacity">
        <span class="w3-button w3-xxlarge w3-white w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></span>
        <div class="w3-clear"></div>
        <header id="header" class="w3-center w3-margin-bottom">
            <h3 style="font-size: 100px; font-weight: 700;"><b>How are you?</b></h3>
            <h1>당신의 하루는 어땠나요? 당신의 생각은 어떤가요?</h1>
            <div th:replace="fragments/login :: login"></div>
            <button onclick="document.getElementById('id01').style.display='block'" id="question" class="w3-button w3-green w3-xlarge" style="height: 56px;margin: 30px;">이야기 작성하기</button>
<!--            <p class="w3-padding-16"><a class="w3-button w3-black">이야기하러 가기!</a></p>-->

        </header>
    </div>

    <!-- Page content -->
    <div class="w3-content" style="max-width:1100px">

        <!-- About Section -->
        <div class="w3-row w3-padding-64" id="about">
            <div class="w3-col m6 w3-padding-large w3-hide-small">
                <img src="/css2/p1.png" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
            </div>

            <div class="w3-col m6 w3-padding-large">
                <h1 class="w3-center">프로젝트 소개</h1><br>
                <h5 class="w3-center">Tradition since 2023 </h5>
                <p class="w3-large" style="line-height: 32px;">
                    <span class="w3-tag w3-light-grey">How are you?</span> 는 오늘 어때? , 안녕? 등의 의미로 널리 알려져 있다.
                    우리 나라 사람들의 공통 대답은 I’m fine , 괜찮아, 좋아, 안녕.
                    정말 fine한걸까? 안녕 한걸까?. 그렇다면 왜 ? 우울증의 지수는 점점 높아져 가는 걸까?
                   </p>
                <p class="w3-large" style="line-height: 32px;">
                    치열한 경쟁 사회에서 사람들은 더욱 스마트해지고 있으면서도, 점차 자기 자신을 잊고 살아갈 때가 많다.
                    타인에 대해서는 잘 이해하면서도 정작 자기 자신에게는 야박하게 구는 사람들이 많다.
                </p>
                <p class="w3-large" style="line-height: 32px;">
                    SNS에 투자하는 시간도 좋지만,
                    하루에 1개의 질문을 통해 스스로를 생각해 볼 수 있는 시간을 갖게 되었으면 좋겠다는 마음에 제작하게 되었다.
                </p>
<!--                <p class="w3-large w3-text-grey w3-hide-medium">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
            </div>
        </div>

        <hr>

        <!-- Menu Section -->
        <div class="w3-row w3-padding-64" id="menu">
            <div class="w3-col l6 w3-padding-large">
                <h1 class="w3-center">아이템 상점</h1><br>
                <p style=" font-size: 20px">
                    <span class="material-icons" style="font-size: 40px">psychology_alt</span><a href="/">생각 1개</a>
                </p>
                <p class="w3-text-grey">처음 구매하시는 거라면 부담없이 누려보세요. 300원</p><br>

                <p style=" font-size: 20px">
                    <span class="material-icons" style="font-size: 40px">psychology_alt</span><a href="/">생각 15개</a>
                </p>
                <p class="w3-text-grey">생각하는 습관을 기르는 중이라면 부담없이 누려보세요. 3,900원</p><br>


                <p style=" font-size: 20px">
                    <span class="material-icons" style="font-size: 40px">psychology_alt</span><a href="/">생각 30개 </a><span class="w3-tag w3-teal">Best!</span>
                </p>
                <p class="w3-text-grey">생각하는 습관을 기르는 중이라면 부담없이 누려보세요. 7,900원</p><br>

                <p style=" font-size: 20px">
                    <span class="material-icons" style="font-size: 40px">psychology_alt</span><a href="/">심리검사 패키지 </a><span class="w3-tag w3-teal">Best!</span>
                </p>
                <p class="w3-text-grey">각종 심리검사를 통해 나를 만나보세요. 99,000원</p><br>
            </div>

            <div class="w3-col l6 w3-padding-large">
                <img src="/css2/p2.jpg" class="w3-round w3-image w3-opacity-min" alt="Menu" style="width: 600px;height: 700px;">
            </div>
        </div>

        <hr>

        <!-- Contact Section -->
        <div class="w3-container w3-padding-64" id="contact">
            <h1>만든이 소개</h1><br>
            <p class="w3-text-blue-grey w3-large"><b>Q1.어디에 사는 누구시죠?</b></p>
            <p>안녕하세요. 경기도 수원에 거주하는 권솔이입니다.</p>

            <p class="w3-text-blue-grey w3-large"><b>Q2.전공이 아닌데 왜 개발자의 길로 오셨나요?</b></p>
            <p>'진로 고민을 하는 사람들에게 전문적으로 도움을 줄 수 있는 프로그램이 있으면 좋겠다' 라는 생각이 저를 개발자의 길로 들어서게 했습니다. </p>
            <p> 개발을 공부하면서 API를 만들고 데이터를 유의미한 가치로 만들어 내는 것에 즐거움을 느끼게 되었습니다. </p>
            <p class="w3-text-blue-grey w3-large"><b>Catering Service, 42nd Living St, 43043 New York, NY</b></p>
            <p>You can also contact us by phone 00553123-2323 or email catering@catering.com, or you can send us a message here:</p>
            <form action="/action_page.php" target="_blank">
                <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
                <p><input class="w3-input w3-padding-16" type="number" placeholder="How many people" required name="People"></p>
                <p><input class="w3-input w3-padding-16" type="datetime-local" placeholder="Date and time" required name="date" value="2020-11-16T20:00"></p>
                <p><input class="w3-input w3-padding-16" type="text" placeholder="Message \ Special requirements" required name="Message"></p>
                <p><button class="w3-button w3-light-grey w3-section" type="submit">SEND MESSAGE</button></p>
            </form>
        </div>

        <!-- End page content -->
    </div>





<!--    &lt;!&ndash; 뉴스 컨텐츠 구현? &ndash;&gt;-->
<!--        <div class="w3-light-grey w3-padding-32 w3-center">-->
<!--            <h1 class="w3-jumbo">Daily Ping</h1>-->
<!--        </div>-->

<!--        <div class="w3-row-padding w3-margin-top">-->
<!--            <div class="w3-third w3-justify">-->
<!--                <h2>Empty Notebook Found</h2>-->
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
<!--            </div>-->
<!--            <div class="w3-third w3-justify">-->
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
<!--            </div>-->
<!--            <div class="w3-third w3-justify">-->
<!--                <h2>Very New News!</h2>-->
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
<!--            </div>-->
<!--        </div>-->

    <!-- End Page Content -->
</div>

<!-- Footer -->
<nav th:replace="fragments/footer :: footer"></nav>

<script>
    // Toggle grid padding
    function myFunction() {
        var x = document.getElementById("myGrid");
        if (x.className === "w3-row") {
            x.className = "w3-row-padding";
        } else {
            x.className = x.className.replace("w3-row-padding", "w3-row");
        }
    }

    // Open and close sidebar
    function w3_open() {
        document.getElementById("mySidebar").style.width = "100%";
        document.getElementById("mySidebar").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
    }
</script>

</body>
</html>