<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="/js/member.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="/css/post.css">
</head>
<body>
<div th:replace="fragments/siderBar :: siderBar"></div>

<div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-right" style="width:200px;right:0; padding: 30px 16px;" id="mySidebar" >
    <button id="buttonState" class="w3-bar-item w3-button w3-large " onclick="sideOpenClose()" name="open">Close &times;</button>
    <a href="/question" class="w3-bar-item w3-button questionButton">오늘의 질문</a>
    <a href="/question2" class="w3-bar-item w3-button">나의 질문답변</a>
</div>

<div class="w3-card-4"style="margin-top: 56px;">

    <header id="today" class="w3-container w3-light-grey" style="font-size: 30px;">
        <h3>Date</h3>
    </header>

    <div id="title" class="w3-container" style="font-size: 25px;">
        <p>Title</p>
        <hr>
        <img src="/css2/file.jpg" alt="Avatar" class="w3-left w3-circle" style="height: 200px;">
        <p style="font-weight: 600;">Question</p>
    </div>

    <div class="w3-container">
    <label class="w3-text-blue"><b>Answer</b></label>
    <input type="hidden" id="questionId" value="">
    <input id="answer" class="w3-input w3-border" type="text" style="height: 300px" >

    <button class="w3-btn w3-blue" onclick="updateQuestion();">답변하기</button>
    </div>

</div>
</body>
</html>